@model ASP_P15.Models.Shop.ShopGroupPageModel

<div class="product-group row row-cols-1 row-cols-md-3 g-4">
    @foreach (var product in Model.ProductGroup.Products)
    {
        <div class="col">
            <div class="card product-card h-100">
                <a asp-action="Product" asp-route-id="@(product.Slug ?? product.Id.ToString())" class="text-decoration-none">
                    <img src="/Home/Download/Shop_@(product.Image)" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@product.Name</h5>
                        <p class="card-text text-muted">@product.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-primary fw-bold">₴ @product.Price.ToString("F2")</small>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
